// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text_area {
  height: 120px;
  width: 600px;
}
.center {
  text-align: center;
}
